.ads-left{
    position: fixed;
    display: block;
    bottom: 50px;
    width: auto;
    height: auto;
    left: 9%;
    background-color: #ccc;
    background: #E6E6FE;
    border: 5px solid #000;
    color: #000;
    z-index: 2;
    text-align: center;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
}