@import '../../mixin.scss';

.main {
  height: 100vh;

  .full {
    position: fixed;
    top: 0;
    z-index: 50;
    height: 80px;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
    box-shadow: 0px 3px 6px #00000057;

    
    input {
      border: 1px solid #707070 !important;
      box-shadow: none !important;
    }

    select {
      border: 1px solid #707070 !important;
      box-shadow: none !important;
    }
    
    .logo-pokemon {
      height: 70px;
      padding-right: 15px; 
      
    }
    
  }

  

  .main-first {
    height: 70%;
    background:#26DEA8;
    background-image: url('https://cdn.traction.one/pokedex/pokemon/25.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    

    input {
      background-image: url(../../images/search.png);
      background-repeat: no-repeat;
      background-size: 28px;
      background-position: 95% 50%;
      box-shadow: 0px 3px 6px #00000057;
      padding-left: 15px;
      height: 60px;
      width: 500px;
      border-radius: 10px;
      border: none;
      color: rgb(112,112,112);
      font-family: Quicksand-Bold;
    }

    input::placeholder {
      color: #707070;
      opacity: 0.5;
    }

    select {
      padding-left: 10px;
      box-shadow: 0px 3px 6px #00000057;
      border: none;
      margin-left: 10px;
      height: 60px;
      width: auto;
      border-radius: 10px;
      color: rgba(112,112,112,0.5);
      font-family: Quicksand-Bold;
    }
  }

  .main-last {
    height: 30%;
    background: #3E3F68;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 400ms cubic-bezier(0.39, 0.575, 0.565, 1);

    .default {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  p {
    margin-top: 10px;
    color: white !important;
    font: 20px Quicksand-Bold;
    margin: 10 px 0;
  }

  p.clean {
    margin-top: 5px;
    color: white !important;
    font: 15px Quicksand !important;
  }
}

@media only screen and (max-width: 750px) {
.main {
  width: 100%;


  .main-first {
    height: 60%;
    background:#26DEA8;
    background-image: url('https://cdn.traction.one/pokedex/pokemon/25.png');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo-pokemon {
      display: none
    }

    .full {
      position: fixed;
      top: 0;
      z-index: 50;
      height: 200px;
      width: 100%!important;
      background: rgba(255, 255, 255, 1);
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding: 0 10%;
      transition: all 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
      box-shadow: 0px 3px 6px #00000057;

      input {
        border: 1px solid #707070 !important;
        box-shadow: none !important;
      }

      select {
        border: 1px solid #707070 !important;
        box-shadow: none !important;
      }

      .logo-pokemon {
        height: 70px;
        align-self: center;
        margin-bottom: 10px;
        display: block!important;
        padding-bottom: 5px; 
      }
    }

    .ajuste {
      width: 80%;

      input {
        background-image: url(../../images/search.png);
        background-repeat: no-repeat;
        background-size: 28px;
        background-position: 95% 50%;
        padding-left: 15px;
        height: 60px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #707070;
        color: rgb(112,112,112);
        font-family: Quicksand-Bold;
      }

      input::placeholder {
        color: #707070;
        opacity: 0.5;
      }
  
      select {
        border: 1px solid #707070;
        height: 60px;
        width: auto;
        border-radius: 10px;
        margin: 5px 0 0 0;
        color: rgba(112,112,112,0.5);
        font-family: Quicksand-Bold;
      }
    }
  }

  .main-last {
    height: 40%;
    background: #3E3F68;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    .default {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    }
  }
}