$green : #4CD964;

$green_light: #26DEA8;

$red: #EF4040;

$purple: #6F5A9A;

$purple_light: #8E2DE2;

$yellow: #FAD80C;

$purple_dark: #3E3F68;

$gray: #707070;

$gray_light: #E8E8E8;

$gray_special: #8A98BA;

$gray_regular: #74848F;
